<%= form_with(model: contact, local: true, id: 'contact_form') do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :project_id %>
    <%= form.select :project_id, project_tree_options_for_select(@projects, :selected => @contact.project), {:required => true} %>
  </p>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'contact_input', style: 'width:85%' %>
  </p>

  <p>
    <%= form.label :country %>
    <%= form.text_field :country, class: 'contact_input', style: 'width:85%' %>
  </p>

  <p>
    <%= form.label :city %>
    <%= form.text_field :city, class: 'contact_input', style: 'width:85%' %>
  </p>

  <p>
    <%= form.label :street %>
    <%= form.text_field :street, class: 'contact_input', style: 'width:85%' %>
  </p>

  <p>
    <%= form.label :house %>
    <%= form.text_field :house, class: 'contact_input', style: 'width:85%' %>
  </p>

  <p>
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'contact_input', style: 'width:85%' %>
  </p>

  <p>
    <%= form.label :zip %>
    <%= form.text_field :zip, class: 'contact_input', style: 'width:85%' %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email, class: 'contact_input', style: 'width:85%' %>
  </p>

  <fieldset><legend><%= l(:label_attachment_plural) %></legend>
    <% if contact.attachments.any? && contact.safe_attribute?('deleted_attachment_ids') %>
      <div class="contextual"><%= link_to l(:label_edit_attachments), '#', :onclick => "$('#existing-attachments').toggle(); return false;" %></div>
      <div id="existing-attachments" style="<%= contact.deleted_attachment_ids.blank? ? 'display:none;' : '' %>">
        <% contact.attachments.each do |attachment| %>
          <span class="existing-attachment">
            <%= text_field_tag '', attachment.filename, :class => "icon icon-attachment filename", :disabled => true %>
            <label>
              <%= check_box_tag 'contact[deleted_attachment_ids][]',
                                attachment.id,
                                contact.deleted_attachment_ids.include?(attachment.id),
                                :id => nil, :class => "deleted_attachment" %> <%= l(:button_delete) %>
            </label>
          </span>
        <% end %>
        <hr />
      </div>
    <% end %>

    <div id="new-attachments" style="display:inline-block;">
      <%= render :partial => 'attachments/form', :locals => {:container => contact} %>
    </div>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
