<h2>Contact</h2>
<p id="notice"><%= notice %></p>

<div class="tabular">
  <p>
    <label>Project:</label>
    <%= @contact.project.name %>
  </p>

  <p>
    <label>Name:</label>
    <%= @contact.name %>
  </p>

  <p>
    <label>Country:</label>
    <%= @contact.country %>
  </p>

  <p>
    <label>City:</label>
    <%= @contact.city %>
  </p>

  <p>
    <label>Street:</label>
    <%= @contact.street %>
  </p>

  <p>
    <label>House:</label>
    <%= @contact.house %>
  </p>

  <p>
    <label>Phone:</label>
    <%= @contact.phone %>
  </p>

  <p>
    <label>Zip:</label>
    <%= @contact.zip %>
  </p>

  <p>
    <label>Email:</label>
    <%= @contact.email %>
  </p>
</div>

<% if @contact.attachments.any? %>
  <hr />
  <p><label><%=l(:label_attachment_plural)%></label></p>
  <%= link_to_attachments @contact, :thumbnails => true %>
<% end %>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
